<div class="container">
  <%= render "layouts/shared/flash_notice" %>
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <% @topics.reverse_each do |topic| %>
          <div class="col-lg-6">
            <h5 class="card-header" style="background-color: white"><%= topic.user.name %>さんのリクエスト</h5>​
            <div class="card mb-4 shadow-sm">
              <div class="card-body p-0">
                <%= link_to topic_path(topic) do %>
                  <%= attachment_image_tag topic, :image, :fill, 300, 300, fallback: "no_cloth.jpg", width: "100%", height: "100%" %>
                <% end %>
                <div class="p-2">
                  <strong>服の好み・要望</strong>
                  <p class="card-text"><%= topic.text %></p>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="btn-group">
                      <%= link_to "View", topic_path(topic), class: "btn btn-sm btn-outline-secondary", style: "text-decoration: none;" %>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end align-items-center">
                    <small class="text-muted"><%= topic.created_at %></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= paginate @topics, class: "pagination" %>
      </div>
    </div>
    <!-- 選択した投稿の詳細 + 新しい推薦を投稿する -->
    <div class="col-lg-4">
      <%= render 'layouts/shared/profile', user: @user %>
    </div>
  </div>
</div>
