<div class="container">
  <%= render "layouts/shared/flash_notice" %>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3">
        <h3 class="card-header"><%= @topic.user.name %>さんの投稿</h3>
        <div class="d-flex justify-content-center align-items-center m-2">
          <%= attachment_image_tag @topic, :image, :fill, 200, 200, fallback: "no_cloth.jpg", size: "200x200" %>
        </div>
        <div class="card-body">
          <h5>服の好み・要望</h5>
          <p class="card-text"><%= @topic.text %></p>
          <% if current_user.isRecommender and @topic.user_id != current_user.id %>
          <div class="d-flex justify-content-center align-items-center m-1">
              <div class="btn-group">
                <%= link_to "服の提案をする", new_topic_recommend_path(@topic), class: "btn btn-md btn-outline-secondary", style: "text-decoration: none;" %>
              </div>
          </div>
          <% end %>
        </div>
        <div class="card-footer d-flex justify-content-end align-items-center">
          <small class="text-muted"><%= @topic.created_at %></small>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <h3 class="card-header" style="background-color: white;">レコメンダによる提案</h3>
      <%#= @recommends.each do |recommend| %>
        <div class="card text-white bg-secondary m-2" style="width: 100%; border-radius: 20px;">
        <h5 class="card-header">レコメンダの名前さんによる提案</h5>
        <div class="card-body">
          <div class="d-flex justify-content-start">
            <%= attachment_image_tag @topic, :image, :fill, 200, 200, fallback: "no_cloth.jpg", size: "200x200", class: "m-1"%>
            <div class="p-2">
              <h5 class="card-title">提案内容</h5>
              <p class="card-text">
                  これだとかっこいいよ
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="btn-group">
              <%= link_to "このレコメンダを評価する", user_path(@topic.user), class: "btn btn-outline-primary", style: "text-decoration: none;" %>
              <%= link_to "通報する", user_path(@topic.user), class: "btn btn-outline-danger ml-2", style: "text-decoration: none;" %>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-end align-items-center">
          <small class="text-muted">30分前に投稿されました</small>
        </div>
      </div>
      <%# end %>
    </div>
  </div>
</div>
