<div class="container">
  <h3 class="card-header" style="background-color: white;">プロフィール</h3>​
  <div class="row">
    <!-- left column -->
    <div class="col-lg-4">
      <%= render 'layouts/shared/profile', user: @user %>
    </div>
    <!-- display profile data -->
    <div class="col-lg-8 personal-info">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">NameID:</label>
          <%= @user.name %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">メールアドレス:</label>
          <%= @user.email %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">年齢:</label>
          <%= @user.age %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">性別:</label>
          <%= @user.gender %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">身長:</label>
          <%= @user.height %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">体重:</label>
          <%= @user.weight %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">チェスト:</label>
          <%= @user.chest %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">ウエスト:</label>
          <%= @user.west %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">ヒップ:</label>
          <%= @user.hip %>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">イントロダクション:</label>
          <%= @user.introduction %>
        </div>
      </form>
    </div>
  </div>
</div>

