<div class="container">
  <%= render "devise/shared/error_messages", resource: @topic %>
  <div class="row">
    <div class="col-lg-8">
      <h3 class="card-header">過去の投稿</h3>​
    </div>
    <div class="col-lg-4">
      <h3 class="card-header">投稿欄</h3>
      <div class="card-body">
        <h5 class="card-title">新規の依頼を投稿する</h5>
      </div>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60" %>
      <%= form_with model: @topic do |f| %>
        <div class="form-group">
          <label for="avatar">画像を選んでください:</label><br>
          <%= f.attachment_field :image %>
        </div>
        <div class="form-group">
          <% # 依頼したい服の傾向 %>
          <label for="exampleTextarea">要望 ： 見つけたい服の傾向など</label>
          <%= f.text_area :text, class: "form-control", id: "Other", rows: "3" %>
        </div>
        ​
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
