<div class="row mt-4">
  <div class="col-lg-8">
    <h3 class="card-header pl-5" style="background-color: white;">レコメンドの編集</h3>​
    <div class="d-flex justify-content-center align-items-center">
      <%= attachment_image_tag @topic, :image, :fill, 350, 350, fallback: "no_cloth.jpg", size: "350x350" %>
      <canvas id="canvasSI" width="350" height="350" style="border:1px solid #CCCCCC;"></canvas>
    </div>
    <br>
    <div class="card border-light mb-3 m-auto" style="width: 80%;">
      <div class="card-header"><h4>服を選択する</h4></div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="p-2">
          <%= button_tag type: "button", onclick: "add_img('#{asset_path("ue.png")}')", style: "width: 100%; height: 100%;" do %>
            <img src="<%= asset_path('ue.png') %>" alt="img" style="width: 100%; height: 100%;"/>
          <% end %>
        </div>
        <div class="p-2">
          <%= button_tag type: "button", onclick: "add_img('#{asset_path("ue2.png")}')", style: "width: 100%; height: 100%;" do %>
            <img src="<%= asset_path('ue2.png') %>" alt="img" style="width: 100%; height: 100%;"/>
          <% end %>
        </div>
        <div class="p-2">
          <%= button_tag type: "button", onclick: "add_img('#{asset_path("sita.png")}')", style: "width: 100%; height: 100%;" do %>
            <img src="<%= asset_path('sita.png') %>" alt="img" style="width: 100%; height: 100%;"/>
          <% end %>
        </div>
        <div class="p-2">
          <%= button_tag type: "button", onclick: "add_img('#{asset_path("sita2.png")}')", style: "width: 100%; height: 100%;" do %>
            <img src="<%= asset_path('sita2.png') %>" alt="img" style="width: 100%; height: 100%;"/>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <%= button_tag '保存用プレビューを表示する', type: 'button', onclick: "save_canvas()", class: "btn btn-lg btn-outline-secondary" %>
      <%= button_tag "選択中の服を削除する", type: 'button', onclick: "reset_canvas()", class: "btn btn-lg btn-outline-danger" %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3 mr-5">
      <h3 class="card-header">保存プレビュー</h3>
      <div class="d-flex justify-content-center align-items-center m-2" style="height: 350px;">
        <img id="output_img"/>
      </div>
    </div>
    <div class="card mb-3 mr-5">
      <h3 class="card-header">レコメンドを投稿する</h3>
      <div class="d-flex justify-content-center align-items-center m-2">
        <%= form_with model: [@topic, @recommend] do |f| %>
          <div class="form-group m-1">
            <label for="avatar">保存した画像をアップロードしてください</label><br>
            <%= f.attachment_field :image, id: "upload-img" %>
          </div>
          <br>
          <div class="form-group m-1">
            <label for="exampleTextarea">提案した服装の詳細を記入してください</label>
            <%= f.text_area :comment, class: "form-control", id: "text", rows: "3" %>
          </div>
          <%= f.submit "投稿する", class: "btn btn-secondary pull-right m-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

​
